<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolio-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Photo Details Go Here -->
                        <h2>{{ item.name }}</h2>
                        <p class="item-intro text-muted">{{ item.caption }}</p>
                        <img class="img-responsive img-centered" ng-src="{{ item.image }}" alt="">
                        <p>{{ item.description }}</p>
                        <!-- <ul class="list-inline">
                            <li>Date: July 2014</li>
                            <li>Category: Sexy forms</li>
                        </ul> -->
                        <ngcart-addtocart class="portfolio-hover" id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" data="item">Add to cart</ngcart-addtocart>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Album</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>